{% extends 'form.html' %}
{% block form %}
<span class = "text-center">Current Money:</span>
<div class ="display-4 text-success text-center">${{ current_user.money }}</div>
    <div class="form-group">
            <label class="font-weight-bold">Amount to add</label>
            {{ form.amount(class = "form-control p-3")}}
            {% if form.amount.errors %}
            <small class = "text-danger">
                {% for error in form.amount.errors %}
                <span>{{error}}</span>
                {% endfor %}
            </small>
            {% endif %}
        </div>
{% endblock form %}