{% extends 'base.html' %}
{% block main %}
<a href = "{{ url_for('site.verify') }}"></a>
<h4 class="text-primary">Jobs</h4>
<p>
    List of all jobs. click on a job to inspect it.
</p>
<table class="table table-hover table-sm">
    <thead class="thead-light">
        <tr>
            <th scope="col">Job</th>
            <th scope="col">Pay</th>
            <th scope="col">Remove Post</th>
        </tr>
    </thead>
    <tbody>
            {% for job in posted | reverse %}
            <tr>
                <td>{{ job.job_description }}</td>
                <td class="text-success">{{ "${:,.2f}".format(job.price) }}</td>
                <td><a href = "{{ url_for('site.removePost', id = job.id )}}"><button type="button" class="btn btn-danger">Remove Post</button></a></td>
            </tr>
            {% endfor %}
    </tbody>
</table>
<h4 class="text-primary">These jobs need to be refunded.</h4>
<table class="table table-hover table-sm">
        <thead class="thead-light">
            <tr>
                <th scope="col">Pay</th>
                <th scope="col">email</th>
            </tr>
        </thead>
        <tbody>
                {% for job in refunded | reverse %}
                <tr>
                    <td class="text-success">{{ "${:,.2f}".format(job.price) }}</td>
                    <td>job.email</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
    <h4 class="text-primary">These jobs need to be paid.</h4>
    <table class="table table-hover table-sm">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Pay</th>
                    <th scope="col">email</th>
                </tr>
            </thead>
            <tbody>
                    {% for job in paid | reverse %}
                    <tr>
                        <td class="text-success">{{ "${:,.2f}".format(job.price) }}</td>
                        <td>job.email</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
{% endblock main %}