{% extends 'base.html' %}
{% block main %}
<h4 class="text-primary">Jobs</h4>
<p>
    List of all jobs. click on a job to inspect it.
</p>
<table class="table table-hover table-sm">
    <thead class="thead-light">
        <tr>
            <th scope="col">Job</th>
            <th scope="col">Pay</th>
            <th scope="col">Verify Post</th>
        </tr>
    </thead>
    <tbody>
            {% for job in posts %}
            <tr>
                <td>{{ job.job_description }}</td>
                <td class="text-success">{{ "${:,.2f}".format(job.price) }}</td>
                <td><a href = "{{ url_for('site.verifyPost', id = job.id )}}"><button type="button" class="btn btn-warning">Verify Post</button></a></td>
            </tr>
            {% endfor %}
    </tbody>
</table>
{% endblock main %}