{% extends 'base.html' %}
{% block main %}
<div class="border-primary mx-auto p-4 mb-4 bg-white rounded"
    style="box-shadow: 0px 6px 16px -3px rgba(143,143,143,0.57); max-width: 600px">
    <div class="px-2 py-3">
        <h4 class="text-primary text-center">{{ form_name }}</h4>
        <form method="POST">
            {{ form.hidden_tag() }}
            {%block form %}
            {% endblock form %}
            {{ form.submit(class = "btn btn-primary btn-block p-3 mb-2 text-white") }}
        </form>
    </div>
</div>
{% endblock main %}