{% extends 'base.html' %}
{% block header %}
<link href="{{ url_for('static', filename='css/grids/home.grid.css') }}" rel="stylesheet" type="text/css">
<script src="{{ url_for('static', filename='js/post_pager.js') }}">
</script>
{% endblock header %}
{% block main %}
<div class="main-grid w-80 p-2 m-auto">
    <div class="border-primary p-4 bg-white rounded" style="box-shadow: 0px 6px 16px -3px rgba(143,143,143,0.57);">
        <div class="p-3 float-right" id="post-count">
            1/12
        </div>
        <div class="p-3 font-weight-bold" style="font-size: 1.2em;">
            Browse Jobs
        </div>
        <div class="job-card" id="job-card">
            <div id="current-user-id" style="display: none;">{{ current_user.id }}</div>
            <div id="poster-id" style="display: none;">-1</div>
            <div id="job-id" style="display: none;">-1</div>
            <div class="font-weight-bold" id="job-card-title">Pending...</div>
            <div id="job-card-address"></div>
            <div id="job-card-time"></div>
            <div id="job-card-price" class="text-success"></div>
            <p id="job-card-body" class="my-2"></p>
        </div>
        <div style="bottom: 1em;">
            <div class="mt-2">
                <div class="text-primary" style="display: inline-block;" onclick=prevPost() id="prev-post">
                    &laquo;
                    Previous
                </div>
                <div class="text-primary float-right display-inline" onclick=nextPost() id="next-post">
                    Next
                    &raquo;
                </div>
            </div>
            <small id = "job-notification" class = "text-center display-inline"></small>
            <button type="button" class="btn btn-primary btn-block p-3 my-2 text-white" data-toggle="modal"
                data-target="#exampleModal" id="take-job-primary">Take Job</button>
        </div>
    </div>
    <div class="border-primary p-4 bg-white rounded" style="box-shadow: 0px 6px 16px -3px rgba(143,143,143,0.57);">
        <div class="p-3 font-weight-bold" style="font-size: 1.2em;">
            Post a Job
        </div>
        <form class="p-2" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-2 col-form-label col-form-label">Job&nbsp;Title</label>
                <div class="col-sm-10">
                    {{ form.title(class = "form-control")}}
                    {% if form.title.errors %}
                    <small class="text-danger">
                        {% for error in form.title.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </small>
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-2 col-form-label col-form-label">Location</label>
                <div class="col-sm-10">
                    {{ form.location(class = "form-control")}}
                    {% if form.location.errors %}
                    <small class="text-danger">
                        {% for error in form.location.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </small>
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-2 col-form-label col-form-label">Price</label>
                <div class="col-sm-10">
                    <div style = "display: flex;">
                        <div style = "display: inline-flex;">$</div>

                    {{ form.price(class = "form-control", style = "display: inline-flex; flex-grow: 100;")}}
                </div>
                    {% if form.price.errors %}
                    <small class="text-danger">
                        {% for error in form.price.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </small>
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-2 col-form-label col-form-label">Time</label>
                <div class="col-sm-10">
                    {{ form.time(class = "form-control")}}
                    {% if form.time.errors %}
                    <small class="text-danger">
                        {% for error in form.time.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </small>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label class="form-label-sm" for="exampleFormControlTextarea1">Description</label>
                {{ form.description(class = "form-control", rows = "3")}}
                {% if form.description.errors %}
                <small class="text-danger">
                    {% for error in form.description.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </small>
                {% endif %}
            </div>
            {{ form.submit(class = "btn btn-primary btn-block p-3 mb-2 text-white") }}
        </form>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure you want this job?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    After you click accept, the other party will be notified that you took the job; you will be given
                    their email
                    to contact them further. Funds will be transfered to your account after the transaction is marked
                    complete on their end.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="{{ url_for('site.takeJob_') }}" id="take_job_button">
                        <button type="button" class="btn btn-primary text-white">Take Job</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endblock main %}