{% extends 'base.html' %}
{% block header %}
<link href="{{ url_for('static', filename='css/grids/index.grid.css') }}" rel="stylesheet" type="text/css">
{% endblock header %}
{% block main %}
<div class="header-grid w-90 mx-5">
    <div>
        <div style="width: 100%; height: 100%; position: relative;">
            <div class="portrait">
                <div class="circle"
                    style="background-color: lightgray; border-radius: 100000px; height: 200px; width: 200px; right: 5%;">
                </div>
                <div class="triangle"
                    style="bottom: 0; left: 0; border-bottom: 300px solid lightslategray; border-right: 300px solid transparent; width: 0; height: 0;">
                </div>
                <div class="splash" style="height: 80%; bottom: 5%; left: 10%; overflow: hidden;">
                    <image src="{{ url_for('static', filename='images/mowerImg.jpg') }}">
                </div>
                <div class="bars" style="width: 20%; top: 10%; left: 5%;">
                    <div class="top-bar" style="width: 100%; height: 13px; background-color: black;"></div>
                    <div class="mid-bar" style="margin-top: 10px; width: 100%; height: 13px; background-color: black;">
                    </div>
                    <div class="bot-bar" style="margin-top: 10px; width: 100%; height: 13px; background-color: black;">
                    </div>
                </div>
                <div class="p-3" style="top: 40%; background-color: #FFA500; max-width: 70%; left: -4%">
                    <h3 class="text-white font-weight-boldadd">
                        Get help with tasks around your community,
                        or get paid to help others.
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="p-2">
        {% if not current_user.is_authenticated %}
        <form class="sign-up-form" method="POST">
            {{ form.hidden_tag() }}
            <h5 class="font-weight-bold pb-4">Sign Up For Free</h5>
            <div class="form-group">
                <label class="font-weight-bold">Email address</label>
                {{ form.email(class = "form-control p-3")}}
                {% if form.email.errors %}
                <small class = "text-danger">
                    {% for error in form.email.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </small>
                {% endif %}
            </div>
            <div class="form-group">
                <label class="font-weight-bold pt-4">Password</label>
                {{ form.password(class = "form-control p-3")}}
                {% if form.password.errors %}
                <small class = "text-danger">
                    {% for error in form.password.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </small>
                {% endif %}
            </div>
            <div class="form-group">
                <label class="font-weight-bold pt-4">Retype Password</label>
                {{ form.confirm_password(class = "form-control p-3")}}
                {% if form.confirm_password.errors %}
                <small class = "text-danger">
                    {% for error in form.confirm_password.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </small>
                {% endif %}
            </div>
            {{form.submit(class = "btn btn-primary btn-block p-3 mb-2 text-white")}}
            <small>
                By signing up with At Your Service, you agree to
                At Your Service's Terms of Service & Privacy Policy.
            </small>
        </form>
        {% else %}
        <h2 class = "text-center">You're Logged in!</h2>
        <p><a href = "{{ url_for('site.home') }}"">Click Here</a> to see your dashboard.</p> Access
        the latest (and greatest!) tool to get extra change for helping around your neighborhood. 
        Gone are the days of going door to door - At Your Service connects you to people in need!
        {% endif %}
    </div>
</div>
<div style="margin-top: 8em; background-color: #F0F3FF; overflow: visible; position: relative">
    <img src="{{ url_for('static', filename='images/border-top.svg') }}"
        style="height: 40%; width: 100%; position: absolute; bottom: 100%; left: 0; z-index: -10;">
    <div class="trifold w-90 mt-2 mx-1 text-center">
        <div class="p-2">
            <img class="img-fluid my-4" style="width: 100px; height: 100px;"
                src="{{ url_for('static', filename='images/moneybag.png') }}">
            <h4 class="p-3 text-dark">Either do services for others in exchange for pay...</h4>
        </div>
        <div class=" p-2">
            <img class="img-fluid my-4" style="width: 100px; height: 100px;"
                src="{{ url_for('static', filename='images/handshake.png') }}">
            <h4 class="p-3 text-dark">or, list what work you need done around the house.</h4>
        </div>
        <div class="p-2">
            <img class="img-fluid my-4" style="width: 100px; height: 100px;"
                src="{{ url_for('static', filename='images/happy.png') }}">
            <h4 class="p-3 text-dark">Either way, it's a win win.</h4>
        </div>
    </div>
    <div class="m-3 mt-5 p-3 bg-primary">
        <h2 class="text-white">
            The best way to get help when you need it...
        </h2>
        <h2 class="text-white">
            And The best way to give help when you can!
        </h2>
    </div>
</div>
{% endblock main %}