{% extends 'base.html' %}
{% block header %}
<script src="{{ url_for('static', filename='js/job_modal.js') }}">
</script>
{% endblock header %}
{% block main %}
<h4 class="text-primary">Jobs Taken</h4>
<p>
    Click on a job to open a list of actions with that job, and the other parties email. Once the other party makes the job as
    complete, money will be transfered into your account. 
</p>
<table class="table table-hover table-sm">
    <thead class="thead-light">
        <tr>
            <th scope="col">Job</th>
            <th scope="col">Your Pay</th>
            <th scope="col">Address</th>
            <th scope="col">Complete</th>
        </tr>
    </thead>
    <tbody>
            {% for job in taken | reverse %}
            <tr data-toggle="modal"
            data-target="#jobModal" onclick = updateJobModal({{ job.id }})>
                <td style = "text-overflow: ellipsis;">{{ job.title }}</td>
                <td class="text-success">{{ "${:,.2f}".format(job.price) }}</td>
                <td>{{ job.area_name }}</td>
                {% if job.filled %}
                <td class="text-success">
                    &#10003;
                </td>
                {% else %}
                <td class="text-danger">
                    &times;
                </td>
                {% endif %}
            </tr>
            {% endfor %}
    </tbody>
</table>
<h4 class="text-primary pt-4">Jobs Posted</h4>
<p>
    Click on a job to mark it as complete, remove it, or contact the other party. You will be fully refunded if you
    remove the job and the job is not taken.

</p>
<table class="table table-hover table-sm">
    <thead class="thead-light">
        <tr>
            <th scope="col">Job</th>
            <th scope="col">You Paid</th>
            <th scope="col">Taken</th>       
            <th scope="col">Complete</th>
        </tr>
    </thead>
    <tbody>
        {% for job in posted | reverse %}
        <tr  data-toggle="modal"
        data-target="#postedModal" onclick = updatePostedModal({{ job.id }})>
            <td>{{ job.title }}</td>
            <td class="text-danger">{{ "${:,.2f}".format(job.price) }}</td>
            {% if job.taken_by is not none  %}
            <td class="text-success">
                &#10003;
            </td>
            {% else %}
            <td class="text-danger">
                &times;
            </td>
            {% endif %}
            {% if job.filled %}
            <td class="text-success">
                &#10003;
            </td>
            {% else %}
            <td class="text-danger">
                &times;
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>


<div class="modal fade" id="jobModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="taken-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                <div><b>Location: </b><span id = "taken-location"></span></div>
                <div><b>Price: </b><span id = "taken-price"></span></div>
                <div><b>Job Posted By: </b><span id = "taken-taken"></span></div>
                <div><p id = "taken-description"></p></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="postedModal" tabindex="-1" role="dialog" aria-labelledby="postedModal"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="posted-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                <div><b>Location: </b><span id = "posted-location"></span></div>
                <div><b>Price: </b><span id = "posted-price"></span></div>
                <div><b>Job Taken By: </b><span id = "posted-provided"></span></div>
                <div><p id = "posted-description"></p></div>
            </div>
        </div>
        <div class="modal-footer">
                <a id = "complete-link" href = "{{ url_for('site.markComplete_') }}"><button type="button" class="btn btn-success" id = "complete-button">Mark Complete</button></a>
                <a id = "remove-link" href = "{{ url_for('site.removeJob_') }}"><button type="button" class="btn btn-danger" id = "remove-button">Remove</button></a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>
{% endblock main %}