{% extends 'form.html' %}
{% block form %}
<div class="form-group">
        <label class="font-weight-bold">Email address</label>
        {{ form.email(class = "form-control p-3")}}
        {% if form.email.errors %}
        <small class = "text-danger">
            {% for error in form.email.errors %}
            <span>{{error}}</span>
            {% endfor %}
        </small>
        {% endif %}
    </div>
    <div class="form-group">
            <label class="font-weight-bold">Password</label>
            {{ form.password(class = "form-control p-3")}}
            {% if form.password.errors %}
            <small class = "text-danger">
                {% for error in form.password.errors %}
                <span>{{error}}</span>
                {% endfor %}
            </small>
            {% endif %}
        </div>
        <div class = "form-group">
            {{ form.remember() }}
            <label>Remember me?</label>
        </div>
{% endblock form %}