{% extends 'form.html' %}
{% block form %}
<div class="form-group">
        <label class="font-weight-bold">Email address</label>
        {{ form.email(class = "form-control p-3")}}
        {% if form.email.errors %}
        <small class = "text-danger">
            {% for error in form.email.errors %}
            <span>{{error}}</span>
            {% endfor %}
        </small>
        {% endif %}
    </div>
    <div class="form-group">
            <label class="font-weight-bold">Password</label>
            {{ form.password(class = "form-control p-3")}}
            {% if form.password.errors %}
            <small class = "text-danger">
                {% for error in form.password.errors %}
                <span>{{error}}</span>
                {% endfor %}
            </small>
            {% endif %}
        </div>
        <div class="form-group">
                <label class="font-weight-bold">Confirm Password</label>
                {{ form.confirm_password(class = "form-control p-3")}}
                {% if form.confirm_password.errors %}
                <small class = "text-danger">
                    {% for error in form.confirm_password.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </small>
                {% endif %}
            </div>
{% endblock form %}