{% extends 'base.html' %}
{% block main %}
<h1 class = "text-primary text-center">We wish!</h1>
<p class = "text-center">
    Unfortunately, the money on here is only a fiat currency, worth nothing. 
    This site is for proof - of concept purposes only (for now)!
</p>
{% endblock main %}