{% extends 'base.html' %}
{% block main %}
<h1 class = "text-primary text-center">404 not found: Hey! You're not supposed to be here.</h1>
<p class = "text-center">Make sure you put in the url correctly. If you did, contact us to let
    us know that we did something wrong. Thank you!
</p>
{% endblock %}