.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
}

@media screen and (max-width: 1000px) {
    .main-grid{
        grid-template-columns: 1fr;
        max-width: 600px;
    }
}