.header-grid{
    display: grid;
    grid-template-columns: 1fr minmax(auto, 350px);
    grid-auto-rows: 1fr;
    min-height: 500px;
}

.portrait > div{
    position: absolute;
}

.splash{
    width: 80%;
}

.trifold{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
}

@media screen and (max-width: 725px) {
    .header-grid{
        grid-template-columns: 1fr;
    }

    .sign-up-form{
        margin: auto;
        max-width: 400px;
        margin-top: 100px;
    }

    .splash{
        width: 90%;
    }

    .trifold{
        grid-template-columns: 1fr;
    }
  }