@import "bootstrap/scss/_functions"; 
@import "bootstrap/scss/_variables";

$theme-colors: (
    primary: orange,
    secondary: $gray-600
);

$font-family-sans-serif: 'Lato', sans-serif;
$link-color: theme-color("primary");

#cookieBar{
    position: fixed;
    width: 100%;
    bottom: 0;
    display: none;
    background-color: theme-color("primary");
    opacity: 0.95;
    color: white;
    text-align: center;

    p{
        padding: 25px 0;
        margin: auto;
    }
}

.header-accent{
    .top{
        width: 15%;
        height: 1px;
        margin-top: 30px;
        background-color: rgb(207, 207, 207);
    }

    .bottom{
        width: 25%;
        margin-top: 3px;
        margin-bottom: 30px;
        height: 1px;
        background-color: rgb(207, 207, 207);
    }
}

.footer-grid{
    display: grid;
    grid-template-columns: 4fr 23fr 23fr 0fr 0fr 23fr 23fr 4fr;
    column-gap: .5em;
    width: 100%;
    grid-auto-rows: 1fr;

    @media screen and (max-width: 725px) {
        grid-template-columns: 2fr 23fr 23fr 2fr;
      }
}



@import "bootstrap/scss/bootstrap.scss";

